@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-image: linear-gradient(to bottom,#2484BF, #F2C777);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #685635ce;
    width: 600px;
    padding: 10px;
    margin: auto;

}

h1 {
    color: #F27F1B;
    text-align: center;
    text-shadow: 1px 1px 2px #743e0fa9;
}
h2 {
    color: #2484BF;
}

p {
text-align: justify;
}
